<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Regla De Tres
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <!-- <ion-title size="large">Regla De Tres</ion-title> -->
    </ion-toolbar>
  </ion-header>

  <div id="container">
    Alimento:<input type="text" class="name" [(ngModel)]="name">

    <div class="inputs">
      <input type='number' [(ngModel)]="valueA" (ngModelChange)="checkValid()">
      <input type='number'[(ngModel)]="valueB" (ngModelChange)="checkValid()">
      <input type='number'[(ngModel)]="valueC" (ngModelChange)="checkValid()">
      <input type='text' readonly [(ngModel)]="result">
    </div>
    <div class="button_container">
      <button type='button' class="btn btn-dark" (click)='clean()'>Limpiar</button>
      <button type='button' class="btn btn-dark"(click)='calculate()' [disabled]=!isValid >Calcular</button>
      <button type='button' class="btn btn-dark"(click)='borrar()'>Borrar datos</button>


    </div>

    <div *ngIf="historialList.length > 0">
      HISTORIAL
        <div *ngFor="let value of historialList">
           <div (click) ='detail(value)'>  {{value.name}} {{value.valueC}} x {{value.valueB}} / {{value.valueA}} =  {{value.result}}</div>
    </div>